 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    background:  rgb(144, 207, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
     margin: 50px;
    background: rgb(234, 241, 241);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0,0,0.1 );


}
.container .leftside
{
    position: relative;
    background: #224c7c;
    padding: 40px;
}
.profiletextinfo
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);

}
    .profiletextinfo .image-box
{
    position: relative;
width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;

}
.profiletextinfo .image-box personalpic
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
object-fit: cover;

}
.profiletextinfo h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;

}
.profiletextinfo h2 span
{
    font-size: 0.9em;
    font-weight: 400;

}

.ContactInfo
{
    padding-top: 40px;

}
.ContactInfo.Education li
{
    margin-bottom: 20px;


}

.ContactInfo.Education h5
{
    color: darkcyan;
    font-weight: 500;

}
.ContactInfo.Education h4
{
    color: #fff;
    font-weight: 450;
    
}


.ContactInfo.Languages .percentage
{
   position: relative;
   width: 100%;
   height: 6px;
   background: rgb(46, 7, 7);
   display: block;
    margin-top: 5px;

}

.ContactInfo.Languages .percentage div
{
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    background: rgb(218, 22, 22);
}

.title 
{
        color: rgb(145, 181, 214);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 15px;
        

}

    .ContactInfo ul
    {
        position: relative;

    }
    .ContactInfo ul li
    {
        position: relative;
        list-style: none;
        margin: 10px;
        cursor: pointer;

    }
.ContactInfo ul li span
{
color: rgb(147, 146, 194);
font-weight: 250px;
font-size: 20px;

}



.container .rightside
{
    position: relative;
    background: #fff;
    padding: 40px;
}

.overview
{
    margin-bottom: 50px;

}
.overview:last-child
{
    margin-bottom: 0;

}
.title2
{
    color: rgb(26, 26, 51);
text-transform: uppercase;
margin-bottom: 10px;

}

p
{
    color: rgb(4, 1, 10);
}
.overview .box 
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;

}
.overview .box .text h4
{
text-transform: uppercase;
color: #2a7da2;
font-size: 20px;

}