@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body{
	background: #b1cdf8;
	display: flex;
	justify-content: center;
	align-items: center;
min-height: 100vh;
	font-size: 14px;
	line-height: 20px;
}
.container
{
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: rgb(57, 85, 110);
	margin: 20px; 
	display: grid;
	grid-template-columns: 1fr 2fr ; 
}
.container .leftside
{
	position: relative;
	background: rgb(59, 58, 114);
	padding: 40px;
}

.profiletextinfo
{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
border-bottom: 1px solid rgb(72, 84, 134);
}
.profiletextinfo .image-box
{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.profiletextinfo .image-box img
{
	position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.profiletextinfo h2
{
	color: #fff;
	font-size: 1em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 2em;


}
.profiletextinfo h2 span 
{
	font-size: 0.5em;
	font-weight: 300;
}


.ContactInfo
{
	padding-top: 40px;

}
.title
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;

}
.ContactInfo ul
{
position: relative;

}
.ContactInfo ul li
{
	position: relative;
	list-style: none;
margin: 10px 0 ;
cursor: pointer;
 
}
.ContactInfo ul li .icon
{
	display: inline-block;
	width: 30px;
	font-size: 10px;
	color: lightblue;

}


.ContactInfo ul li span
{
	color: #fff;
	font-weight: 300;

}

.ContactInfo .Education li
{color: aliceblue;
margin-bottom: 15px;


}
 .ContactInfo .Education h5
{
	color: lightblue;
	font-weight: 500;

}

.ContactInfo .Education h4:nth-child(3)
{
	 color: #fff;
	 font-weight: 300;
}

.ContactInfo .Education h4
{
	 color: #fff;
	 font-weight: 300;
}

.ContactInfo.Languages .percentage
{
position: relative;
width: 100%;
height: 6px;
background: rgb(0, 12, 7);
display: block;
margin-top: 5px;

}
.ContactInfo.Languages .percentage div
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: rgb(44, 90, 218);
}








.container .rightside
{
	position: relative;
	background: #fff;
padding: 40px;

}
.overview
{
margin-bottom: 50px;

}
.overview:last-child
{
	margin-bottom: 0;


}
.title2
{
	color: rgb(3, 61, 61);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;

}
p
{
	color: rgb(27, 27, 27);
}
.overview .h2
{
	
	margin-bottom: 1.5em;
}
.overview .box 
{
	display: flex;
	flex-direction:column ;
	margin-right: 2.5em;
	margin:2.5em, 0;
	margin-bottom: 2.5em;

}
.overview .box .skill_title
{
	min-width: 150px;
	margin-bottom: 1.5em;
	
}
.overview .box .skill_title h5
{
	text-transform: uppercase;
	color: rgb(165, 71, 165);
	font-weight: 800;
	font-size:large;
}
